@media screen and (max-width: 830px) {
  nav #LOGO {
    margin-top: 20px;
    margin-left: 0px;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  nav #LOGO {
    font-size: 25px;
    text-align: center;
  }
  
  #subTitle {
  margin-top: 130px;
  text-align: center;
  color: #454545;
  font-size: 35px;
}

#subDisp {
  text-align: center;
  margin-top: -20px;
}
}
